.play-area {
    border: 1px solid black;
    padding: 15px;
}

.game-board-input {
    width: 16.66%;
    height: 16.66%;
    text-align: center;
}

.btn {
    width: 45%;
    padding: 0px;
}

.title {
    text-align: center;
}

.centered {
    float: none;
    margin: 0 auto;
}

#game-board {
    font-family: monospace;
    font-size: 200%;
    text-align: center;
    width: 100%;
    max-width: 250px;
    height: 250px;
    
}

#solution-index-input {
    width: 70px;
}

.menu-toggle {
    width: 40px;
}

#menu-close {
    position: absolute;
    top: 20px;
    right: 25px;
    margin-left: 50px;
}

.info-heading {
    color: black;
    white-space: nowrap;
}

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    background: #bbbbbb;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 480px;
    margin: auto;
    padding: 15px;
}

.panel-default {
    border: black;
}